<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">&copy;{{ site.time | date: '%Y' }} {{ site.name }} <br/>
             <a href="http://www.epostakur.site/hotmail-kaydol-hotmail-ac-hotmail-al">Hotmail Kaydol</a> |  <a href="http://www.epostakur.site/e-posta-ac-e-posta-kur">E Posta Aç</a> | <a href="http://www.epostakur.site/">E Posta Kur</a></p>
        </div>
    </div>
</div>

{% include analytics.html %}

</body>
</html>
