{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1>{{ page.title }}</h1>
            <div class="post-content">
            {{ content }}
               <form>
<div class="form-group">
  <label for="usr">İsminiz:</label>
  <input type="text" class="form-control" id="usr"><br>
  <label for="comment">Yorumunuz:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea><br>
  <button type="submit" class="btn btn-primary">Gönder</button>
    <span style="font-style:italic; color: red; font-weight:200;">Yorumunuz onaylandıktan sonra görünür.</span>
</div>
</form>
            </div>
            
            </div>
          </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Sonraki Mail Servisi</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Önceki Mail Servisi</a>
              {% endif %}
          </div>
        </div>
        <div class="col-md-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>

{% include footer.html %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46933005 = new Ya.Metrika({
                    id:46933005,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46933005" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

